<!-- Footer -->

<footer id="footer">
    <i class="fin-icon fab fa-facebook"></i>
    <i class="fin-icon fab fa-twitter"></i>
    <i class="fin-icon fab fa-instagram"></i>
    <i class="fin-icon fas fa-envelope-square"></i>
    <p>© Copyright 2020 Shrinidhi Joshi</p>
</footer>