
<div id="sign-in-up">
    <h1>Sign In</h1>

<form action="/users/create-session" method="post">
    <br><input type="email" name="email" placeholder="Enter your email" required><br>
    <br><input type="password" name="password" placeholder="create your password" required><br>
    <br><input type="submit" value="Sign In"><br>
</form>
<br>

<p>
    <a  style="color: inherit; text-decoration: none;" href="/users/auth/google">
        <i class="fa-brands fa-google fa-beat fa-xl">&nbsp;</i>
        Google Sign Up/Sign Up
    </a>
</p>
</div>


